/* BANNER
------------------------------------------*/
.banner {
    position: absolute;
    width: 100%;
    /* background: rgba(215, 225, 235, 100%); */ */
    color: #602E3F;
    text-align: center;
    padding: 0;
}
.banner a {
    padding: 30px;
    text-decoration: none;
    color: black;
}
.banner a:hover {
    text-decoration: line-through;
}
.banner ul {
  list-style-position: outside;
  list-style-type: none;

}
.banner li {
  display: inline-block;
  font-size: 15px;
  /* padding-left: 10%;
  padding-right: 10%; */
}
html {
    box-sizing: border-box;
    text-align: left;

}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
}
main {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1/10fr 2fr 1fr 1fr;
  grid-template-areas:
  "banner banner"
  "box1 box2"
  "box3 box3";
  /* "box4 box4"; */

  /* max-width: 50%; */
}
.welcome_photo {
  grid-area: box1;

  /* background-image: url(../images/diarmuid_umbrella.jpeg); */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-size: contain; */
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.welcome_photo img{
  width: auto;
  height: 900px;

}
.welcome_bio {
  grid-area: box2;
}
#home_photo {
  /* width: 450px;
  height: 600px; */
}
.welcome_photo {
  text-align: left;
  max-height: 1200px;
  max-width: 100%;
}
.info_on_me {
  padding-top: 0;
  padding-bottom: 0;

}
.heading {
  padding-top: 25%;
}
body {
    color: 254;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    line-height: 1.25;
}
p {
    margin: 10px;
    font-size: 18px;
    padding: 5%;
    text-align: left;
}
/* Contact info
-----------------------------------------*/

footer {
    display: grid;
    grid-area: box3;
    background-color: white;
    /* background: rgba(0, 0, 0, 50%); */
    color: black;
    text-align: center;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}
